<nav #myNavbar class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      ><img src="../../assets/logo.jpg" class="logo" />Swayambhu Strategies</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll" [ngbCollapse]="isCollapsed">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active"
            >Our Services</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" routerLinkActive="active"
            >Contact Us</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" routerLinkActive="active"
            >About Us</a
          >
        </li>

        <li class="nav-item" hidden>
          <a class="nav-link" routerLink="/careers" routerLinkActive="active"
            >Careers</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="height: 57px"></div>
