<div class="our-story text-center top-space">
  <h2>WHY CHOOSE US</h2>
  <p>
    Swayambhu Strategies is dedicated to crafting compelling and engaging video
    content across a variety of platforms, including television, OTT, social
    media, and feature films.<br />
    Our mission is to blend creative vision with technical expertise to deliver
    content that not only meets but exceeds the expectations of our audiences
    and clients. <br />We are here as an social media marketing agency to offer
    creative solutions to our clients.<br /> We provide services such as design,
    advertising, digital marketing, content creation and event management to
    increase brand awareness, reach target audience, and boost sales.
  </p>
</div>

<div class="vision-mission text-center top-space">
  <h2>RADIO AND TELEVISION:</h2>
  <p>
    Our founder has substantial backgrounds in these areas, having created
    popular content for both mediums, ensuring wide reach and engagement.
  </p>
</div>

<div class="vision-mission text-center top-space">
  <h2>OTT AND FEATURE FILMS:</h2>
  <p>
    Our projects like <strong>"Half Pants Full Pants"</strong> and films like
    <strong>"Vijyeta"</strong> and
    <strong> "One Way Ticket"</strong> demonstrate our ability to adapt stories
    and production techniques to fit the requirements of OTT platforms and
    cinema audiences alike.
  </p>
</div>

<div class="vision-mission text-center top-space">
  <h2>SOCIAL MEDIA MARKETING:</h2>
  <p>
    Understanding the dynamics of social media platforms, we have successfully
    executed promotional campaigns that enhance visibility and engagement,
    directing traffic effectively to targeted content.
  </p>
</div>
